<mat-toolbar color="primary">
  <div fxLayout="row" fxLayoutAlign="center center" fxFill>
      <span>Hotel Check-in</span>
  </div>
</mat-toolbar>

<section>
  <button mat-raised-button color="primary" (click)="goToPerson();">Incluir pessoa</button>

  <mat-card>
    <mat-card-header>
        <mat-card-title>{{ title }}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form [formGroup]="searchForm">
        <div fxLayout="row" fxLayoutAlign="space-between stretch">
          <mat-form-field appearance="outline" fxFlex="49">
            <mat-label>Data/Hora de entrada</mat-label>
            <input type="datetime-local" placeholder="start date" matInput formControlName="startDate" (input)="refreshTotal(searchForm.controls['additionalVehicle'].value);">
            <mat-error *ngIf="searchForm.get('startDate')?.hasError('required')">
              Campo obrigatório
            </mat-error>
          </mat-form-field>

          <mat-form-field appearance="outline" fxFlex="49">
            <mat-label>Data/Hora de saída</mat-label>
            <input type="datetime-local" matInput formControlName="endDate" (input)="refreshTotal(searchForm.controls['additionalVehicle'].value);">
            <mat-error *ngIf="searchForm.get('endDate')?.hasError('required')">
              Campo obrigatório
            </mat-error>
          </mat-form-field>
        </div>

        <div fxLayout="row">
          <mat-form-field appearance="outline" fxFlex="49">
            <mat-select formControlName="person" placeholder="Selecione um pessoa" #singleSelect>
              <mat-form-field style="width: 96.5%; padding-left: 10px; padding-top: 10px;">
                <input matInput type="text" [formControl]="checkInFilterCtrl" 
                  autocomplete="off" placeholder="Pesquise pelo nome ou documento" (blur)="clearSearchFilter();">
                <button *ngIf="checkInFilterCtrl.value" matSuffix mat-icon-button (click)="checkInFilterCtrl.setValue('')">
                  <mat-icon>close</mat-icon>
                </button>
              </mat-form-field>
              <mat-hint *ngIf="(filteredCheckIns | async)?.length === 0" class="no-records">
                Nenhum registro foi encontrado.
              </mat-hint>
              <mat-option *ngFor="let checkIn of filteredCheckIns | async" [value]="checkIn">
                {{ checkIn.name }} - {{ checkIn.document }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="searchForm.get('person')?.hasError('required')">
              Campo obrigatório
            </mat-error>
          </mat-form-field>

          <mat-checkbox formControlName="additionalVehicle" (change)="refreshTotal($event.checked);">
            Possui veículo
          </mat-checkbox>
        </div>

        <div fxLayout="row" fxLayoutAlign="space-between stretch">
          <div fxLayout="row">
            <button *ngIf="!searchForm.get('done')?.value" mat-raised-button type="button" (click)="save();" color="primary" [disabled]="searchForm.invalid || loading" style="margin-right: 1em;">
              <div fxLayout="row" fxLayoutAlign="center center">
                <mat-spinner *ngIf="loading" diameter="20">
                </mat-spinner>
                <mat-icon *ngIf="!loading">{{ checkInModeActiveted ? 'check' : 'save' }}</mat-icon>
                <span>&nbsp;{{ checkInModeActiveted ? 'Fazer check-in' : 'Salvar' }}</span>
              </div>
            </button>
  
            <button *ngIf="checkInModeActiveted" type="button" mat-stroked-button color="accent" style="margin-right: 1em;" (click)="cancelEdition();">
              <mat-icon>cancel</mat-icon>
              Cancelar
            </button>
          </div>
          
          <div fxLayout="row" fxLayoutAlign="center center">
            <span class="price-daily">Valor da diária: {{ getDailyPrice() | currency:'BRL':true }}</span>
            <span class="total-label">Total: {{ searchForm.controls['total'].value | currency:'BRL':true }}</span>
          </div>          
        </div>
      </form>
    </mat-card-content>
 </mat-card>

 <mat-card>
  <mat-card-header>
       <mat-card-title>Consultas</mat-card-title>
  </mat-card-header>
  <mat-card-content>
   <p>Filtrar por:</p>
   <mat-radio-group>
    <mat-radio-button value="0" (change)="radioChange($event)" [checked]='true' style="margin-right: 1em;">Todos</mat-radio-button>
    <mat-radio-button value="1" (change)="radioChange($event)" style="margin-right: 1em;">Pessoas ainda presentes</mat-radio-button>
    <mat-radio-button value="2" (change)="radioChange($event)">Pessoas que já deixaram o hotel</mat-radio-button>
  </mat-radio-group>

    <table #table mat-table [dataSource]="dataSource" matSort matSortActive="name" matSortDisableClear matSortDirection="desc" (matSortChange)="sortData($event)">
        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Nome </th>
            <td mat-cell *matCellDef="let element"> {{ element.person.name }} </td>
        </ng-container>

        <ng-container matColumnDef="document">
            <th mat-header-cell *matHeaderCellDef> Documento </th>
            <td mat-cell *matCellDef="let element"> {{ element.person.document }} </td>
        </ng-container>

        <ng-container matColumnDef="value">
            <th mat-header-cell *matHeaderCellDef> Valor gasto </th>
            <td mat-cell *matCellDef="let element"> {{ (element.total || 0) | currency:'BRL':true }} </td>
        </ng-container>

        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef [style.text-align]="'center'"> Check In </th>
          <td mat-cell *matCellDef="let element; let i = index;" [style.text-align]="'center'">
              <button mat-icon-button type="button" (click)="loadCheckIn(i, element);">
                  <mat-icon color="warn" *ngIf="element.done">check_box</mat-icon>
                  <mat-icon *ngIf="!element.done">check_box_outline_blank</mat-icon>
              </button>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns;"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    </table>
    <mat-paginator
        #paginator
        [pageSize]="3"
        [pageSizeOptions]="[5, 10, 20]"
        showFirstLastButtons
    ></mat-paginator>

    <div fxLayout="row" class="btn-pagination" *ngIf="!(dataSource.filteredData.length === 0)">
      <button mat-stroked-button color="primary" (click)="paginator.previousPage();" [disabled]="!paginator.hasPreviousPage()">
        <div fxLayout="row" fxLayoutAlign="center center">
          <span>&#8592;</span>
          Previous
        </div>
      </button>
      <button mat-stroked-button color="primary" (click)="paginator.nextPage();" [disabled]="!paginator.hasNextPage()">
        <div fxLayout="row" fxLayoutAlign="center center">
          Next
          <span>&#8594;</span>
        </div>
      </button>
    </div>
    
    <div *ngIf="isLoading" class="spinner-container">
      <mat-progress-spinner color="primary" mode="indeterminate" diameter="40">
      </mat-progress-spinner>
    </div>

    <mat-hint *ngIf="dataSource.filteredData.length == 0 && !isLoading" class="no-records">
      Nenhum registro foi encontrado.
    </mat-hint>

  </mat-card-content>
</mat-card>
</section>